[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ploomber = "*"
tqdm = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyarrow = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
pygraphviz = "*"

[requires]
python_version = "3.8"

[scripts]
pipeline = "ploomber build"
lint = "flake8 ."
fix = "bash -c \"pipenv run isort . && pipenv run autopep8 -ivr .\""
